*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-weight: 200;
   background: #2c2c2c;
   color: #fff;
}

#main{
   width: 100%;
   padding: 20px;
   text-align: left;
}

#img{
   width: 5%;
   float: left;
   position: relative;
   left: 20%;
   bottom: 90%;

}

#text{
    width: 40%;
    position: relative;
    left: 30%;

    margin-bottom: 1%;

}

#buy {
  border: 0;
  border-radius: 5px;
  margin-top: 50px;
  height: 60px;
  width: 200px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 900ms ease;
  color: #fff;
  background: #181818;
  position: relative;
  left: 42%;
  top: 10px;


}

#buy:hover, .contrast:hover {
  background: #fff;
  color: #000;

}

#form{
    display: none;
    text-align: center;
}

input{
    width: 40%;
    outline: none;
    margin: 10px 5%;
    padding: 15px 10px;
    font-size: 14px;
    border: 2px solid silver;
    border-radius: 5px;
}

input:focus{
    border-color: #db5d5d;
}

#order {
  border: 0;
  border-radius: 5px;
  margin-top: 50px;
  height: 60px;
  width: 200px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 500ms ease;
  color: #fff;
  background: #181818;


}

header{
    background: #181818;
    padding: 1%;
    font-weight: 600;
    height: 100px;
}
header span h1{
    margin: 1%;
    letter-spacing: 1px;
}
header div{
    font-weight: 500;
    font-size: 1.5rem;
    background: #2c2c2c;
    margin-right: 1%;
    text-align: center;
    padding-top: 1.5%;
    float: right;
    width: 15%;
    height: 100%;
    position: relative;
    bottom: 100%;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 700ms ease;
    border-radius: 5px;

}

header a{
    text-decoration: none;
    color: #fff;
}


#order:hover {
  background: #fff;
  color: #000;

}

.alert-warning{
    position: relative;
    top: 50px;
    left: 0;
    width: 100%;
    padding-right: 0;
}

.form-control{
    width: 50%;
    position: relative;
    left: 20%;
    top: 425px;

}

.btn-success{

    position: absolute;
    left: 76%;
    top: 586px;
}

#show_message{
    display: none;
}